doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="./assets/scss/main.scss")
    title About Us
  body
    h1 Abaout Us Page
    a(href="./index.pug") Go to Home page
    a(href="./contact.pug") Go to Contact page
    p.
      Pug is a terse and simple templating language with a
      strong focus on performance and powerful features.
    script(type="module", src="./assets/js/main.js")